<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="~/src/css/styles.css"/> -->
    <link href="https://fonts.googleapis.com/css?family=Kreon|Permanent+Marker" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
