<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">

    <title>It's Hangman, y'all!</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>It's Hangman, y'all!</h1>
      </div>
      @RenderBody()
    </div>
  </body>
</html>
