<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kreon|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" src="/Source/css/styles.css" type="text/css">

  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
