<h2>Create new Contact</h2>
<form action="/contacts/new" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" value="">
  <label for="phone">Phone: </label>
  <input type="text" name="phone" value="">
  <h3>Address:</h3>
  <label for="state">State: </label>
  <input type="text" name="state" value="">
  <label for="city">City: </label>
  <input type="text" name="city" value="">
  <label for="street">Street: </label>
  <input type="text" name="street" value="">
  <button type="submit" name="button">Add Contact</button>
</form>
