<h2>Create new Contact</h2>
<form action="/contacts/new" method="post">
  <div class="group-form">
    <label for="name">Name: </label>
    <input class="form-control" type="text" name="name" value="">
  </div>
  <div class="group-form">
    <label for="phone">Phone: </label>
    <input type="text" name="phone" value="">
  </div>
    <h3>Address:</h3>
  <div class="group-form">
    <label for="state">State: </label>
    <input type="text" name="state" value="">
  </div>
  <div class="form-group">
    <label for="city">City: </label>
    <input type="text" name="city" value="">
  </div>
  <div class="form-group">
    <label for="street">Street: </label>
    <input type="text" name="street" value="">
  </div>
  <button class="btn btn-success" type="submit" name="button">Add Contact</button>
</form>
