<h1>Search</h1>
<select class="" name="search">
  <option value="name">By Name</option>
  <option value="state">By Address</option>
  <option value="phoneNumber">By Phone Number</option>
  <!-- <option value="order"></option> -->
</select>
